body {
    background: white;
    background-image: url('background.gif');
    background-repeat: no-repeat;
    background-position: top;
    margin: 450px 20%;
    font-family: 'Bad Script', cursive;;
}

.container {
    border-style: outset;
    padding: 20px 0px;
    background-color: black;
    display: flex;
    flex-flow: row wrap;
}

.item {    
    text-align: center;
    transition: 0.2s;
    margin: auto;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: white;
}

.item:hover {
    transform: translateY(-10px); 
    cursor: pointer;
}

h1.item:hover{
    color: red;
}

h2.item:hover {
    color: orange;
}

h3.item:hover {
    color: yellow; 
}

h4.item:hover {
    color: lightgreen;
}

h5.item:hover {
    color: skyblue;
}

h6.item:hover {
    color: plum;
}

.block1 {
    font-size: 1.5em;
    border-style: dotted;
    margin: 20px 0px;
    padding: 10px 20px;
}

blockquote {
    background-color: azure;
    font-size: 2em;
    transition: 0.2s;
}

blockquote:hover {
    font-weight: 900;
    filter: brightness(0.95);
}
.url {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.url a:link {
    color:lightskyblue;   
}
.url a:hover {
    cursor: pointer;
    color: orangered;
}

.url a:visited {
    color: blue;
}

.url a:active {
    color: orange;
}

img {
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    transition: 0.2s;
}

img:hover {
    opacity: 0.8;
}

input {
    width: 200px;
    height: 20px;
    margin: 30px 0;
    transition: width 0.5s;
}

input:hover{
    width: 300px;
}

table {
    text-align: center;
    padding: 20px;
    width: 100%;
    font-size: 150%;
    transition: 0.2s;
}

table caption {
    font-size: 200%;
    font-weight: 500;
}

table th{
    color: white;
    background-color: darkgreen;
}
table td {
    background-color: rgb(209, 248, 150);
}
table td:hover {
    font-size: 1.2em;
    font-weight: 600;
}

.list {
    font-size: 150%;
    color: rgb(4, 89, 138);
    font-family: 'Amatic SC', cursive;
}

#G {
    padding: 5%;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
    color: white;
    background-color: seagreen;
    font-style: italic;
    font-size: 150%;
}

@keyframes bounce {
    0%   {color: royalblue; left:0px; top:0px;}
    25%  {color: deepskyblue; left:200px; top:0px;}
    50%  {color: seagreen; left:200px; top:200px;}
    75%  {color: forestgreen; left:0px; top:200px;}
    100% {color: navy; left:0px; top:0px;}
  }

.last {
    position: relative;
    font-size: 2em;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}